ion-view
  ion-content
    ion-list
      ion-item(ng-repeat="patient in patientList") 
        b {{ $index + 1}}.&nbsp;
        i.icon.ion-male.male-color(ng-if=" patient.gender === 'M' ")
        i.icon.ion-female.female-color(ng-if=" patient.gender === 'F' ")
        span &nbsp;{{ patient.name }} 
        span &nbsp;{{ patient.age }} años
      
