ion-view(view-title="Nuevo Paciente")
  //- ion-nav-title Nuevo Paciente
  ion-nav-buttons(side="right")
     a.button.button-clear(ng-click="savePatient()") Guardar
     
  
  ion-content
    form(name="newPatientForm")
      div(ng-show="state == 'step-1'")
        .list
          label.item.item-input.item-floating-label
            span.input-label Nombres
            input(type="text" placeholder="Nombre" ng-model="patient.name.first" required)
          label.item.item-input.item-floating-label
            span.input-label Apellido paterno
            input(type="text" placeholder="Apellido paterno" ng-model="patient.name.father")
          label.item.item-input.item-floating-label
            span.input-label Apellido materno
            input(type="text" placeholder="Apellido materno" ng-model="patient.name.mother")
          label.item.item-input.item-floating-label
            span.input-label Fecha de nacimiento
            input(type="text" placeholder="Fecha de nacimiento (DD/MM/AAAA)" ng-model="patient.birthday")
          label.item.item-divider
            span Género
          ion-radio(ng-model="patient.gender" ng-value="'M'") Masculino
          ion-radio(ng-model="patient.gender" ng-value="'F'") Femenino
      
      div(ng-show="state == 'step-2'") STEP 2
      
      div(ng-show="state == 'step-3'") STEP 3
        

  .tabs-striped.tabs-background-positive.tabs-color-light
    .tabs
      a.tab-item(ng-class="{'active': state == 'step-1'}" ng-click="setState('step-1')")
        i.icon.ion-home
      a.tab-item(ng-class="{'active': state == 'step-2'}" ng-click="setState('step-2')")
        i.icon.ion-home
      a.tab-item(ng-class="{'active': state == 'step-3'}" ng-click="setState('step-3')")
        i.icon.ion-home
